.ad-lawha{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .ad-title{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 25px;
}
.ad-title p{
    margin: 0!important;
}





.ad-lawha >.lawha{
    display: flex;
    width: 100%;
    height: 130px;
    border-radius: 8px ;
    border: solid 2px #7a7a7a;
    background: #ededed;
}

.lawha > .ksa-board{
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    width: 15%;
    background: var(--chakra-colors-white);
    border-radius: 0px 2px 2px 0px;
    max-height: 100% !important;
}


.ad-lawha >.lawha p {
    margin: 0px!important;
    font-size: 27px!important;
    font-weight: bold;
    color: black;
    text-shadow: -4px 0px 2px #ffffff;
    font-family: Helvetica!important;
}

.ad-lawha >.lawha .letters .english-version p{
    font-size: 27px!important;
    margin: 0px 2px !important;
}

.ad-lawha >.lawha .letters .arabic-version p{
    font-size: 38px!important;
    margin: 0px 2px !important;
}

.ad-lawha >.lawha .numbers .english p{
    font-size: 30px!important;
    margin: 0 2px !important;
}

.ad-lawha >.lawha .numbers .arabic p{
    font-size: 38px!important;
    margin: -1px !important;
}

.ad-lawha > .lawha > .informations{
    display: flex;
    flex-direction: column;
    width: 35%;

    
}
.ad-lawha > .lawha > div:not(:last-of-type){
    border-left: #7a7a7a 2px solid;
}
.ad-lawha > .lawha >.informations>.letters> div:not(:last-of-type){
    border-bottom: #7a7a7a 2px solid;
}
.ad-lawha > .lawha > .informations > .letters,
.ad-lawha > .lawha > .informations > .serial-number{
    height: 100%!important;
  
}
.ad-lawha > .lawha > .informations > .letters> div{
    height: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-transform: uppercase;
}

.ad-lawha > .lawha > .informations > .letters> div>p{
   

}


.ad-lawha > .lawha >  .serial-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;

}

.ad-lawha > .lawha >  .serial-number> p{
    font-size: 28px !important;
}
 
.ad-page .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}
.ad-page .wrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    margin-top: 30px;

}

.ad-page  .box{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
}
.ad-page  .box,.ad-page .wrapper> .box-50{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.ad-page  .box> div ,.ad-page .wrapper> .box-50 >div{
    padding: 15px;

}

.ad-page  .box .key,.ad-page .wrapper> .box-50 .key{
    font-size: 16px !important;
}

.ad-page  .box .value,.ad-page .wrapper> .box-50 .value{
    font-size: 21px !important;
    font-weight: bold;
    color: var(--violet);
}

.ad-lawha >.lawha .numbers .arabic p, .ad-lawha >.lawha .numbers .english p {
    min-width: 20px;
    margin: 0 !important;
}

@media screen and (max-width: 800px) {
    .ad-lawha > .lawha > .informations > .letters> div {
        padding: 10px 15px; gap: 5px;
    }
    .ad-lawha > .lawha > .serial-number > .numbers> div {
        gap: 6px; padding: 0px;
    }
    .ad-lawha >.lawha .letters .arabic-version p, .ad-lawha >.lawha .numbers .arabic p {
        font-size: 30px!important;
    }
    .ad-lawha >.lawha .letters .english-version p, .ad-lawha >.lawha .numbers .english p {
        font-size: 20px!important;
    }
     
    
     
}